* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* notification ui */
.notification-panel {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.notification-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.avatar {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar .status-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border: 2px solid #fff;
  border-radius: 50%;
}

.avatar .initial {
  width: 40px;
  height: 40px;
  background-color: #FF6C3D;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
}

.notification-content {
  flex: 1;
}

.notification-content p {
  margin: 0;
  font-size: 14px;
}

.notification-content .time {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #888;
}

.notification-content a {
  color: #FF6C3D;
  text-decoration: none;
}

.notification-content a:hover {
  text-decoration: underline;
}

.show-all-notifications {
  text-align: center;
  margin-top: 10px;
}

.show-all-notifications a {
  color: #FF6C3D;
  text-decoration: none;
  font-weight: bold;
}

.show-all-notifications a:hover {
  text-decoration: underline;
}

/* end */

.AboutusHeader {
  background-color: #a7330e;
  text-align: center;
  padding: 30px 0;
  color: #fff;
  font-size: 25px;
}

.Aboutus_content {
  padding-top: 30px;
}

.Aboutus_content h4 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #000;
}

.Aboutus_content p {
  font-size: 18px;
  color: #7c7c7c;
  margin-bottom: 10px;
}

.Aboutus_content .Aboutus_img {
  width: 100%;
  height: 400px;
  /* object-fit: contain; */
  border-radius: 20px;
}

.Our_Team {
  text-align: center;
}

.Our_Team h3 {
  margin-top: 30px;
  font-size: 35px;
  color: #FF6C3D;
}

.Our_Team_member .card-team {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e2e2e2;
  transition: box-shadow 0.3s ease;
}

.Our_Team_member .card-team:hover {
  box-shadow: 0 0 10px #e3e3e3;
}

.Our_Team_member .card-team img {
  width: 100%;
  height: 300px;
}

.Our_Team_member .CardContent {
  padding: 10px 20px;

}